* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #F5ECDF;
    z-index: 0;
    color: #222925;
}

body a {
    text-decoration: none;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    padding: 15px;
}

h2 a {
    text-decoration: none;
    color: #222925;
}

.line {
    height: 4px;
    background-color: #222925;
}

nav {
    margin-top: 40px;
}

.menu-for-desktop {
    display: none;
}

.introduction {
    margin: 40px;
    border: solid 4px #222925;
    display: grid;
}

.logo-mobile {
    width: 300px;
    margin-top: 50px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

.line {
    width: 300px;
    height: 17px;
    margin-bottom: 5%;
    background-color: #A4BFBA;
    border: solid 4px #222925;
    text-align: right;
}

.line1 {
    width: 200px;
}

.menu {
    border: solid 4px #222925;
    margin: 40px;
    margin-top: 80px;
}

.mainmenu {
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: #F5ECDF;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    overflow-y: scroll;
    z-index: 10;
}

nav li {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.5em;
    list-style: none;
    padding: 25px;
    border-bottom: solid 4px #222925;
}

nav li:last-child {
    border-bottom: none;
}

nav ul li a {
    text-decoration: none;
    color: #222925;
}

.nav-links {
    border: solid 4px #222925;
    margin: 40px;
}

.buttons {
    display: grid;
    grid-template-areas: 
    "close-button close-button"
    "lt en"
    "hc hc";
    align-items: center;
    border: solid 4px #222925;
    margin: 40px;
}

.close-button {
    grid-area: close-button;
    border-bottom: solid 4px #222925;
}

.lt {
    grid-area: lt;
    border-right: solid 4px #222925;
}

.en {
    grid-area: en;
}

.hc {
    grid-area: hc;
    text-align: center;
    border-top: solid 4px #222925;
}

.logo {
    display: flex;
}

.wasp {
    width: 65px;
}

.honeycoasta {
    width: 190px;
}

.main-images {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.main-image1 {
    display: none;
}

.main-image2 {
    height: 250px;
    width: 210px;
    object-fit: cover;
    border: solid 4px #222925;
    margin-top: -140px;
}

.circle {
    background-color: #DBA840;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    border: solid 4px #222925;
    margin-left: auto;
    margin-right: auto;
    margin-top: -50px;
    z-index: -1;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1.7em;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.strong-name {
    font-family: Archivo, sans-serif;
    font-style: normal;
}

/* about artist section starts here */

.about {
    font-family: Archivo, sans-serif;
    font-style: normal;
    border: solid 4px #222925;
    margin: 40px;
}

.about-paragraph {
    border: solid 4px #222925;
    margin: 40px;
    background-color: #A4BFBA;
}

.tagline {
    font-family: Archivo, sans-serif;
    font-style: normal;
    font-size: 1.1em;
    border: solid 4px #222925;
    margin: 16px;
    padding: 24px;
    margin-right: 40px;
}

.tagline-p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 16px;
    margin-right: 40px;
    padding-bottom: 40px;
}

.about-picture {
    margin-top: -65px;
    margin-left: 60px;
}

.picture-button-grid {
    display: flex;
    flex-direction: row;
}

.read-more {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-style: normal;
    text-decoration: none;
    color: #222925;
    border: solid 4px #222925;
    font-size: 1em;
    margin-left: -18px;
}

.circles {
    background-color: #fff;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    border: solid 6px #222925;
    margin-right: auto;
    margin-left: 40%;
    margin-top: -50px;
}

.inside-circle {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #222925;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

/* about artist section ends here */

@media(min-width: 1440px) {
    .buttons {
        grid-template-areas: 
        "close-button"
        "lt"
        "en"
        "hc";
        grid-template-rows: 1fr 1fr 1fr 3fr;
    }

    .honeycoasta {
        width: 150px;
    }

    .wasp {
        display: none;
    }

    .lt, .en, .close-button,.menu-button {
        font-size: 1em;
        padding: 55px;
    }

    .buttons > * {
        transform: rotate(-90deg);
    } 

    .mainmenu {
        display: grid;
        grid-auto-flow: column;
        grid-template-columns: 1fr 5fr;

    }

    .navigation {
        height: 100vh;
        padding: 0;
        padding-top: 10vh;
    }

    .hc {
        border-top: none;
    }

    .en {
        border-right: solid 4px #222925;
        border-left: solid 4px #222925;
    }

    .lt {
        border-right: solid 4px #222925;
    }

    .close-button {
        border-bottom: none;
    }

    nav {
        margin-top: 0;
    }

    .navigation {
        position: fixed;
    }

    nav li {
        padding: 30px;
    }

    .buttons, .nav-links {
        height: 85vh;
    }

    .menu-for-desktop {
        display: block;
    }

    .header-grid {
        display: grid;
        grid-auto-flow: column;
        grid-template-columns: 1fr 5fr;

    }

    .introduction {
        border: solid 4px #222925;
        margin: 40px;
    }

    .menu {
        display: none;
    }



}


.nav-active{
    transform: translateX(0%);
}

